.App {
  text-align: center;
  background-image: url("https://previews.123rf.com/images/khismatov/khismatov1702/khismatov170200027/71643615-%E7%99%BD%E3%81%84%E8%83%8C%E6%99%AF%E3%81%AE%E4%B8%8A%E3%81%AE%E7%B5%90%E5%A9%9A%E5%BC%8F%E3%82%AB%E3%83%BC%E3%83%89%E3%81%AE%E7%B5%90%E5%A9%9A%E6%8C%87%E8%BC%AA.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




